// header
.header-block {
    background: #AA0601;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 88px;
    .menu {
        display: flex;
        flex-wrap: wrap;
        a {
            color: white;
            font-size: 20px;
            padding: 0px 32px;
            &:hover {
                color: green;
            }
        }
    }
    @include pad {
        padding: 30px 39px;
        .menu {
            a {
                padding: 0 20px;
            }
        }
    }
    @include iphoneX {
        padding: 0;
        .logo {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px 0;
            img {
                width: 48px;
                height: 29px;
            }
        }
        .menu {
            width: 100%;
            li {
                width: 50%;
                text-align: center;
                border:  1px solid white;
            }
        }
    }
}

// @media(max-width: 634px) { 
//     .header-block {
//         padding: 0;
//         .logo {
//             width: 100%;
//             display: flex;
//             justify-content: center;
//             padding: 10px 0;
//             img {
//                 width: 48px;
//                 height: 29px;
//             }
//         }
//         .menu {
//             width: 100%;
//             li {
//                 width: 50%;
//                 text-align: center;
//                 border:  1px solid white;
//             }
//         }
//     }
// }

//footer
.footer {
    padding-top: 32px;
    padding-bottom: 40px;
    background: #AA0601;
    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .menu {
            display: flex;
            a {
                color:#FFFFFF;
                &:hover {
                    color: green;
                }
            }
            
        }
        .social-medias {
            display: flex;
        }
        .contact-info {
            li {
                display: flex;
            }
            img {
                width: 48px;
                height: 48px;
                vertical-align: middle;
            }
            span {
                color: white;
                font-size: 36px;
                vertical-align: middle;
            }
        }
    }
    hr {
        color: white;
    }
    .footer-bottom {
        font-size: 14px;
        color: white;
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
        }
        a {
            color: white;
        }
    }
    @include pad {
        .footer-menu {
            .menu{
                li {
                    margin-right: 40px;
                }
            }
            .social-medias {
                img { 
                    width: 24px;
                    height: 24px;
                }
            }     
            .contact-info {
                margin-bottom: 20px;
                li {
                    margin-bottom: 12px;
                }
                img {
                    width: 24px;
                    height: 24px;
                }
                span {
                    font-size: 20px;
                }
            }
        }
    }
    @include iphoneX {
        padding-top: 25px;
        padding-bottom: 25px;
        .footer-menu {
            flex-direction: row-reverse;
            align-items: flex-start;
            .menu {
                li {
                    display: none;
                }
            }
            .social-medias {
                img { 
                    width: 24px;
                    height: 24px;
                }
            }
            .contact-info {
                margin-bottom: 20px;
                img {
                    margin-right: 5px;
                    width: 20px;
                    height: 20px;
                }
                span {
                    font-size: 16px;
                }
            }
        }
        hr {
            margin-bottom: 16px; 
        }
        .footer-bottom {
            flex-wrap: wrap;
            span {
                margin-bottom: 8px; 
            }
            ul {
                flex-direction: column;
                li {
                    margin-bottom: 8px;
                }
            }
        }
    }
}