@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none; }

.mr-1 {
  margin-right: 8px; }

.mr-2 {
  margin-right: 16px; }

.mr-4 {
  margin-right: 32px; }

.mr-6 {
  margin-right: 48px; }

.mr-8 {
  margin-right: 64px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 40px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-8 {
  margin-bottom: 64px; }

.mb-12 {
  margin-bottom: 96px; }

.mt-2 {
  margin-top: 16px; }

.mt-6 {
  margin-top: 48px; }

.mt-12 {
  margin-top: 96px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* mac, IOS 系統字體                   Windows 英文系統字  微軟正黑體 Android 系統字  IOS 系統字  通用字體 */
  font-size: 16px;
  line-height: 1.5; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 375px; } }

.sub-title {
  font-size: 48px;
  font-weight: bold; }
  @media (max-width: 768px) {
    .sub-title {
      font-size: 32px; } }
  @media (max-width: 375px) {
    .sub-title {
      font-size: 24px; } }

.border-left {
  border-left: 8px solid #9F1213;
  padding-left: 16px; }

.header-block {
  background: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px; }
  .header-block .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header-block .menu a {
      color: white;
      font-size: 20px;
      padding: 0px 32px; }
      .header-block .menu a:hover {
        color: green; }
  @media (max-width: 768px) {
    .header-block {
      padding: 30px 39px; }
      .header-block .menu a {
        padding: 0 20px; } }

@media (max-width: 634px) {
  .header-block {
    padding: 0; }
    .header-block .logo {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 10px 0; }
      .header-block .logo img {
        width: 48px;
        height: 29px; }
    .header-block .menu {
      width: 100%; }
      .header-block .menu li {
        width: 50%;
        text-align: center;
        border: 1px solid white; } }

.footer {
  padding-top: 32px;
  padding-bottom: 40px;
  background: #AA0601; }
  .footer .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .footer-menu .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .footer-menu .menu a {
        color: #FFFFFF; }
        .footer .footer-menu .menu a:hover {
          color: green; }
    .footer .footer-menu .social-medias {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .footer-menu .contact-info li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .footer-menu .contact-info img {
      width: 48px;
      height: 48px;
      vertical-align: middle; }
    .footer .footer-menu .contact-info span {
      color: white;
      font-size: 36px;
      vertical-align: middle; }
  .footer hr {
    color: white; }
  .footer .footer-bottom {
    font-size: 14px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .footer-bottom ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .footer-bottom a {
      color: white; }
  @media (max-width: 768px) {
    .footer .footer-menu .menu li {
      margin-right: 40px; }
    .footer .footer-menu .social-medias img {
      width: 24px;
      height: 24px; }
    .footer .footer-menu .contact-info {
      margin-bottom: 20px; }
      .footer .footer-menu .contact-info li {
        margin-bottom: 12px; }
      .footer .footer-menu .contact-info img {
        width: 24px;
        height: 24px; }
      .footer .footer-menu .contact-info span {
        font-size: 20px; } }

@media (max-width: 634px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 25px; }
    .footer .footer-menu {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer .footer-menu .menu li {
        display: none; }
      .footer .footer-menu .social-medias img {
        width: 24px;
        height: 24px; }
      .footer .footer-menu .contact-info {
        margin-bottom: 20px; }
        .footer .footer-menu .contact-info img {
          margin-right: 5px;
          width: 20px;
          height: 20px; }
        .footer .footer-menu .contact-info span {
          font-size: 16px; }
    .footer hr {
      margin-bottom: 16px; }
    .footer .footer-bottom {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .footer .footer-bottom span {
        margin-bottom: 8px; }
      .footer .footer-bottom ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .footer .footer-bottom ul li {
          margin-bottom: 8px; } }

.banner {
  height: 840px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .banner .container {
    height: 100%; }
  .banner .banner-block {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .banner .banner-block .banner-text {
      text-align: right; }
      .banner .banner-block .banner-text h3 {
        font-size: 36px; }
      .banner .banner-block .banner-text h2 {
        font-size: 64px;
        font-weight: bold; }
  @media (max-width: 768px) {
    .banner .banner-block .banner-text h3 {
      font-size: 20px; }
    .banner .banner-block .banner-text h2 {
      font-size: 48px; } }
  @media (max-width: 375px) {
    .banner {
      height: 394px;
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true"); }
      .banner .banner-block .banner-text h3 {
        font-size: 16px; }
      .banner .banner-block .banner-text h2 {
        font-size: 32px; } }

.feature-part {
  padding-top: 60px;
  padding-bottom: 80px;
  background: #FBF2F2;
  text-align: center; }
  .feature-part .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .feature-part .feature-list li {
      width: 22%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .feature-part .feature-list li img {
        width: 100px;
        height: 100px; }
      .feature-part .feature-list li h3 {
        font-size: 24px;
        font-weight: bold; }
      .feature-part .feature-list li p {
        text-align: left; }
  @media (max-width: 768px) {
    .feature-part {
      padding-top: 40px;
      padding-bottom: 56px; }
      .feature-part .feature-list {
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        .feature-part .feature-list li {
          width: 37%;
          margin-bottom: 32px; } }
  @media (max-width: 375px) {
    .feature-part {
      padding-top: 32px;
      padding-bottom: 40px; }
      .feature-part .feature-list li {
        width: 74%; } }

.classic-frames {
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center; }
  .classic-frames .frame-lists li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .classic-frames .frame-lists li img {
      width: 57%; }
    .classic-frames .frame-lists li .series-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 30px; }
      .classic-frames .frame-lists li .series-name .mobile {
        display: none; }
      .classic-frames .frame-lists li .series-name img {
        width: 48px;
        height: 48px; }
      .classic-frames .frame-lists li .series-name h3 {
        font-size: 48px;
        font-weight: bold; }
  .classic-frames .frame-lists li:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .classic-frames .frame-lists li:nth-child(2) .series-name {
      margin-right: 30px; }

@media (max-width: 891px) {
  .classic-frames {
    padding-top: 40px;
    padding-bottom: 56px; }
    .classic-frames .frame-lists li {
      margin-bottom: 8px; }
      .classic-frames .frame-lists li img {
        width: 54%; }
      .classic-frames .frame-lists li .series-name img {
        width: 40px;
        height: 40px; }
      .classic-frames .frame-lists li .series-name h3 {
        font-size: 28px; }
    .classic-frames .frame-lists li:nth-child(2) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

@media (max-width: 634px) {
  .classic-frames {
    padding-top: 32px;
    padding-bottom: 40px; }
    .classic-frames .frame-lists li {
      position: relative;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .classic-frames .frame-lists li img {
        width: 100%; }
      .classic-frames .frame-lists li .series-name {
        position: absolute; }
        .classic-frames .frame-lists li .series-name .mobile {
          display: block; }
        .classic-frames .frame-lists li .series-name .pc-pad {
          display: none; }
        .classic-frames .frame-lists li .series-name img {
          width: 40px;
          height: 40px; }
        .classic-frames .frame-lists li .series-name h3 {
          color: white; } }

.co-branding-franes {
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .co-branding-franes .sub-title {
    color: #FFFFFF; }
  .co-branding-franes .co-branding-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .co-branding-franes .co-branding-items .co-branding-item {
      width: 48%;
      height: 455px;
      background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(255, 255, 255, 0.5);
      background-blend-mode: overlay;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .co-branding-franes .co-branding-items .co-branding-item h3 {
        color: #AA0601;
        font-size: 72px;
        font-weight: bold; }
    .co-branding-franes .co-branding-items .co-branding-item:nth-child(2) {
      background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true); }
  @media (max-width: 768px) {
    .co-branding-franes {
      padding-top: 40px;
      padding-bottom: 56px; }
      .co-branding-franes .co-branding-items .co-branding-item {
        width: 46%;
        height: 278px; }
        .co-branding-franes .co-branding-items .co-branding-item h3 {
          font-size: 32px; } }
  @media (max-width: 375px) {
    .co-branding-franes {
      padding-top: 32px;
      padding-bottom: 40px; }
      .co-branding-franes .co-branding-items .co-branding-item {
        width: 100%;
        height: 278px;
        margin-bottom: 16px; } }

.customer-recommendation {
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center; }
  .customer-recommendation .customers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .customer-recommendation .customers .customer {
      width: 22%;
      -webkit-box-shadow: 0px 2px 6px #00000029;
              box-shadow: 0px 2px 6px #00000029; }
      .customer-recommendation .customers .customer img {
        border-radius: 4px 4px 0px 0px; }
      .customer-recommendation .customers .customer .customer-info {
        position: relative;
        height: 204px;
        padding: 16px;
        text-align: left; }
        .customer-recommendation .customers .customer .customer-info .date {
          color: #707070;
          position: absolute;
          bottom: 16px;
          left: 16px; }
  @media (max-width: 768px) {
    .customer-recommendation {
      padding-top: 40px;
      padding-bottom: 56px; }
      .customer-recommendation .customers .customer {
        width: 46%;
        margin-bottom: 32px; }
        .customer-recommendation .customers .customer .customer-info {
          padding: 16px 24px; }
          .customer-recommendation .customers .customer .customer-info .date {
            bottom: 16px;
            left: 24px; } }
  @media (max-width: 375px) {
    .customer-recommendation {
      padding-top: 32px;
      padding-bottom: 40px; }
      .customer-recommendation .customers .customer {
        width: 100%;
        margin-bottom: 16px; } }

.contact-us {
  padding-top: 60px;
  padding-bottom: 80px;
  background: #FBF2F2; }
  .contact-us .contact-us-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contact-us .contact-us-block .content {
      width: 64%; }
      .contact-us .contact-us-block .content .sub-title {
        text-align: center; }
      .contact-us .contact-us-block .content p {
        text-align: left;
        font-size: 20px;
        margin-bottom: 20px; }
      .contact-us .contact-us-block .content form lable {
        font-size: 16px;
        display: block;
        margin-bottom: 4px; }
      .contact-us .contact-us-block .content form input {
        width: 100%;
        height: 50px;
        padding-left: 16px;
        background-color: #FBF2F2; }
      .contact-us .contact-us-block .content form textarea {
        width: 100%;
        height: 136px;
        display: block;
        padding-top: 12px;
        padding-left: 16px;
        background-color: #FBF2F2; }
      .contact-us .contact-us-block .content form .is-agree {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .contact-us .contact-us-block .content form .is-agree input {
          width: 24px;
          height: 24px; }
        .contact-us .contact-us-block .content form .is-agree p {
          margin-left: 4px; }
      .contact-us .contact-us-block .content form .d-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .contact-us .contact-us-block .content form .d-flex .btn {
          width: 48%;
          height: 54px;
          color: #FFFFFF;
          background: #AA0601; }
        .contact-us .contact-us-block .content form .d-flex .btn:hover {
          background: black; }
  @media (max-width: 768px) {
    .contact-us {
      padding-top: 40px;
      padding-bottom: 56px; }
      .contact-us .contact-us-block .content {
        width: 63%; }
        .contact-us .contact-us-block .content p {
          font-size: 16px;
          margin-bottom: 16px; }
        .contact-us .contact-us-block .content form label {
          font-size: 14px; }
        .contact-us .contact-us-block .content form input {
          height: 36px;
          padding-left: 8px;
          background-color: #FBF2F2; }
        .contact-us .contact-us-block .content form textarea {
          height: 100px; }
        .contact-us .contact-us-block .content form .is-agree input {
          width: 18px;
          height: 18px; }
        .contact-us .contact-us-block .content form .is-agree p {
          font-size: 14px; } }
  @media (max-width: 375px) {
    .contact-us {
      padding-top: 32px;
      padding-bottom: 40px; }
      .contact-us .contact-us-block .content {
        width: 100%; }
        .contact-us .contact-us-block .content p {
          margin-bottom: 8px; }
        .contact-us .contact-us-block .content form input {
          padding-left: 12px; }
        .contact-us .contact-us-block .content form .d-flex .btn {
          height: 36px; } }

.common-problem {
  padding-top: 96px;
  padding-bottom: 160px; }
  .common-problem h3 {
    font-size: 32px; }
  .common-problem .question-list h4 {
    font-size: 20px;
    font-weight: bold; }
  .common-problem .question-list p {
    margin-left: 96px;
    width: 83%; }
  @media (max-width: 768px) {
    .common-problem {
      padding-top: 60px;
      padding-bottom: 96px; }
      .common-problem h2 {
        margin-bottom: 40px; }
      .common-problem h3 {
        margin-bottom: 32px; }
      .common-problem .question-list li {
        margin-bottom: 24px; }
      .common-problem .question-list h4 {
        margin-bottom: 16px; }
      .common-problem .question-list p {
        margin-left: 60px;
        width: 90%; } }
  @media (max-width: 375px) {
    .common-problem {
      padding-top: 28px;
      padding-bottom: 56px; }
      .common-problem h2 {
        margin-bottom: 24px; }
      .common-problem h3 {
        font-size: 20px;
        margin-bottom: 24px; }
      .common-problem .question-list li {
        margin-bottom: 20px; }
      .common-problem .question-list h4 {
        font-size: 16px;
        margin-bottom: 8px; }
      .common-problem .question-list p {
        font-size: 14px;
        margin-left: 0px;
        width: 100%; } }

.location {
  padding-top: 96px;
  padding-bottom: 160px; }
  .location .store-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .location .store-list .store {
      margin-right: 30px;
      width: 30%; }
      .location .store-list .store h3 {
        font-size: 24px;
        border: 1px #00000020 solid;
        padding: 12px 0 12px 24px; }
      .location .store-list .store .more {
        display: block;
        text-align: center;
        line-height: 67px;
        font-size: 19px;
        width: 100%;
        height: 67px;
        color: #FFFFFF;
        background: black; }
      .location .store-list .store .more:hover {
        background: #920c0c; }
  @media (max-width: 768px) {
    .location {
      padding-top: 60px;
      padding-bottom: 96px; }
      .location .store-list {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .location .store-list .store {
          width: 46%;
          margin-right: 0; }
          .location .store-list .store h3 {
            font-size: 16px;
            padding: 8px 0 8px 24px; }
          .location .store-list .store .more {
            line-height: 52px;
            font-size: 14px;
            height: 52px; } }
  @media (max-width: 375px) {
    .location {
      padding-top: 28px;
      padding-bottom: 56px; }
      .location h2 {
        margin-bottom: 24px; }
      .location .store-list .store {
        width: 100%; }
        .location .store-list .store h3 {
          font-size: 16px;
          padding: 16px 0 16px 24px; } }

.store-info {
  border: 1px #00000020 solid;
  padding: 16px 24px; }
  .store-info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .store-info li img {
      width: 24px;
      height: 24px; }
  @media (max-width: 768px) {
    .store-info li img {
      width: 20px;
      height: 20px; }
    .store-info li p {
      font-size: 14px; } }

.location-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .location-select label {
    font-size: 24px; }
  .location-select select {
    width: 28%;
    height: 45px;
    border: 1px #00000020 solid;
    padding-left: 16px;
    margin-left: 20px; }
  @media (max-width: 768px) {
    .location-select label {
      font-size: 16px; }
    .location-select select {
      margin-left: 20px;
      width: 45%;
      height: 46px; } }
  @media (max-width: 375px) {
    .location-select {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .location-select label {
        font-size: 14px; }
      .location-select select {
        margin-left: 12px;
        width: 73%;
        height: 36px; } }

.blog-menu {
  background: #650300; }
  .blog-menu .blog-menu-block {
    padding: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .blog-menu .blog-menu-block .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .blog-menu .blog-menu-block .menu a {
        color: white;
        font-size: 20px; }
        .blog-menu .blog-menu-block .menu a:hover {
          color: green; }
    .blog-menu .blog-menu-block img {
      width: 29px;
      height: 29px; }
  @media (max-width: 768px) {
    .blog-menu .blog-menu-block .menu li {
      margin-right: 32px; }
    .blog-menu .blog-menu-block .menu a {
      font-size: 16px; } }
  @media (max-width: 375px) {
    .blog-menu .blog-menu-block {
      display: none; } }

.blog {
  padding-top: 40px;
  padding-bottom: 160px; }
  .blog .artical {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .blog .artical img {
      width: 55%; }
    .blog .artical .artical-content {
      width: 39%;
      position: relative; }
      .blog .artical .artical-content h3 {
        font-size: 32px; }
      .blog .artical .artical-content h4 {
        font-size: 20px;
        font-weight: bold; }
      .blog .artical .artical-content .date {
        font-size: 16px;
        font-weight: normal; }
      .blog .artical .artical-content p {
        font-size: 20px; }
      .blog .artical .artical-content a {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #650300;
        font-size: 36px;
        font-weight: bold; }
    .blog .artical .article-subtitle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .blog .page-list-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .blog .page-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .blog .page-list a {
      font-size: 18px;
      color: #555555;
      border: 1px solid #555555;
      padding: 12px 16px; }
      .blog .page-list a:hover {
        color: white;
        background: #000000; }
  @media (max-width: 768px) {
    .blog .artical {
      margin-bottom: 24px; }
      .blog .artical img {
        width: 48%; }
      .blog .artical .artical-content {
        width: 46%; }
        .blog .artical .artical-content h3 {
          font-size: 20px; }
        .blog .artical .artical-content h4 {
          font-size: 16px; }
        .blog .artical .artical-content p {
          display: inline;
          font-size: 14px; }
        .blog .artical .artical-content a {
          text-transform: lowercase;
          position: relative;
          font-size: 14px; }
        .blog .artical .artical-content .date {
          font-size: 16px; }
    .blog .artical-list {
      margin-bottom: 64px; } }
  @media (max-width: 375px) {
    .blog {
      padding-top: 28px;
      padding-bottom: 56px; }
      .blog .sub-title {
        margin-bottom: 28px; }
      .blog .artical {
        margin-bottom: 20px; }
        .blog .artical img {
          width: 100%; }
        .blog .artical .artical-content {
          width: 100%; }
          .blog .artical .artical-content h3 {
            font-size: 16px; }
          .blog .artical .artical-content h4 {
            font-size: 14px; }
          .blog .artical .artical-content p {
            display: none; }
          .blog .artical .artical-content a {
            display: none; }
          .blog .artical .artical-content .date {
            font-size: 14px; }
      .blog .artical-list {
        margin-bottom: 40px; }
      .blog .page-list a {
        font-size: 16px;
        padding: 10px 12px; } }

/*# sourceMappingURL=all.css.map */
